name: Create and Update Infrastructure

on:
  pull_request:
    paths:
      - infra/**
      - .github/workflows/infra-apply.yml
  push:
    branches:
      - main
    paths:
      - infra/**
      - .github/workflows/infra-apply.yml
  workflow_dispatch:
    inputs:
      tf-workspace:
        description: opentofu workspace
        required: true
        type: choice
        options:
          - "default"

jobs:
  build-lambda:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v6
      - name: Install Rust
        uses: dtolnay/rust-toolchain@stable
        with:
          targets: aarch64-unknown-linux-gnu
      - name: Cache Rust dependencies
        uses: Swatinem/rust-cache@v2
      - uses: cachix/install-nix-action@v31
      - name: Cargo lambda build
        shell: nix shell nixpkgs#cargo-lambda --quiet --command bash {0}
        run: cargo lambda build --release
      - name: Upload the artifact bootstrap.zip
        uses: actions/upload-artifact@v6
        with:
          name: bootstrap
          path: ./target/lambda/totp-server/bootstrap.zip
          if-no-files-found: error
          retention-days: 5

  tofu-plan:
    runs-on: ubuntu-latest
    needs: build-lambda
    defaults:
      run:
        working-directory: ./infra
    steps:
      - uses: actions/checkout@v6
      - name: Download the artifact bootstrap.zip
        uses: actions/download-artifact@v7
        with:
          name: bootstrap
          path: ./target/lambda/totp-server
      - uses: opentofu/setup-opentofu@v1
      - name: Run OpenTofu commands
        env:
          AWS_ACCESS_KEY_ID: ${{ secrets.AWS_ACCESS_KEY_ID }}
          AWS_SECRET_ACCESS_KEY: ${{ secrets.AWS_SECRET_ACCESS_KEY }}
          SOPS_AGE_KEY: ${{ secrets.SOPS_AGE_KEY }}
        run: |
          tofu init
          tofu validate
          tofu workspace select ${{ github.event.inputs.tf-workspace || 'default' }}
          tofu plan -out=tfplan
      - uses: cachix/install-nix-action@v31
      - name: Encrypt OpenTofu plan file
        env:
          SOPS_AGE_KEY: ${{ secrets.SOPS_AGE_KEY }}
        shell: nix shell nixpkgs#sops --quiet --command bash {0}
        run: sops encrypt --output tfplan-encrypted tfplan
      - name: Upload encrypted plan artifact
        uses: actions/upload-artifact@v6
        with:
          name: tfplan-encrypted-${{ github.event.inputs.tf-workspace }}
          path: ${{ github.workspace }}/infra/tfplan-encrypted
          if-no-files-found: error
          retention-days: 5

  tofu-apply:
    runs-on: ubuntu-latest
    needs:
      - build-lambda
      - tofu-plan
    environment: infra-${{ github.event.inputs.tf-workspace }}
    # Only run apply on main branch and when it's triggered by workflow_dispatch.
    if: github.ref == 'refs/heads/main' && github.event_name == 'workflow_dispatch'
    defaults:
      run:
        working-directory: ./infra
    steps:
      - uses: actions/checkout@v6
      - name: Download the artifact bootstrap.zip
        uses: actions/download-artifact@v7
        with:
          name: bootstrap
          path: ./target/lambda/totp-server
      - name: Download encrypted plan artifact
        uses: actions/download-artifact@v7
        with:
          name: tfplan-encrypted-${{ github.event.inputs.tf-workspace }}
          path: ${{ github.workspace }}/infra
      - uses: cachix/install-nix-action@v31
      - name: Decrypt OpenTofu plan file
        env:
          SOPS_AGE_KEY: ${{ secrets.SOPS_AGE_KEY }}
        shell: nix shell nixpkgs#sops --quiet --command bash {0}
        run: sops decrypt --output tfplan tfplan-encrypted
      - uses: opentofu/setup-opentofu@v1
      - name: Run OpenTofu commands
        env:
          AWS_ACCESS_KEY_ID: ${{ secrets.AWS_ACCESS_KEY_ID }}
          AWS_SECRET_ACCESS_KEY: ${{ secrets.AWS_SECRET_ACCESS_KEY }}
          SOPS_AGE_KEY: ${{ secrets.SOPS_AGE_KEY }}
        run: |
          tofu init
          tofu workspace select ${{ github.event.inputs.tf-workspace }}
          tofu apply tfplan
